<div mat-dialog-content #dialog>
<h2>Pour générer des compinaisons [Start,End,Dot]. Exemple : [1,10,1]</h2>


<ng-container *ngFor="let eltName of this.data.hyperparametersNumber">
    <mat-form-field class="mat-form">
      <p>{{eltName}}</p>
    <input matInput value={{this.data.hyperparametersNumberVal[this.data.hyperparametersNumber.indexOf(eltName)]}}>
  </mat-form-field>
  </ng-container>

  

</div>
<div>

    <mat-form-field appearance="fill" class="mat-form">
        <p>doGlu</p>
        <mat-select [(value)]="data.doList[0]">
          <mat-option *ngFor="let elt of data.doList" [value]="elt">
            {{elt}}
          </mat-option>
        </mat-select>
      
      </mat-form-field>
    
    <mat-form-field appearance="fill"  class="mat-form">
        <p>doBatchNormalisation</p>
        <mat-select  #doBatchNM [(value)]="data.listBN[0]">
          <mat-option *ngFor="let elt of data.listBN" [value]="elt">
            {{elt}}
          </mat-option>
        </mat-select>
     
    </mat-form-field>

    <mat-form-field appearance="fill"  class="mat-form">
        <p>sideBySide</p>
        <mat-select [(value)]="data.sBs[0]">
          <mat-option *ngFor="let elt of data.sBs" [value]="elt">
            {{elt}}
          </mat-option>
        </mat-select>
     
    </mat-form-field>

    <mat-form-field appearance="fill"  class="mat-form">
        <p> doMultiStream</p>
        <mat-select [(value)]="data.listMS[0]">
          <mat-option *ngFor="let elt of data.listMS" [value]="elt">
            {{elt}}
          </mat-option>
        </mat-select>
     
    </mat-form-field>

    <mat-form-field appearance="fill"  class="mat-form">
      <p>doNormKMA</p>
      <mat-select [(value)]="data.doNormKMA[0]">
        <mat-option *ngFor="let elt of data.doNormKMA" [value]="elt">
          {{elt}}
        </mat-option>
      </mat-select>
   
  </mat-form-field>

  <mat-form-field appearance="fill"  class="mat-form">
    <p>evalPredict</p>
    <mat-select [(value)]="data.evalPredict[0]">
      <mat-option *ngFor="let elt of data.evalPredict" [value]="elt">
        {{elt}}
      </mat-option>
    </mat-select>
 
</mat-form-field>




<mat-form-field appearance="fill"  class="mat-form">
  <p>useWo0</p>
  <mat-select [(value)]="data.useWo0[0]">
    <mat-option *ngFor="let elt of data.useWo0" [value]="elt">
      {{elt}}
    </mat-option>
  </mat-select>

</mat-form-field>


  
<mat-form-field appearance="fill"  class="mat-form">
  <p>trainWithGTReg</p>
  <mat-select [(value)]="data.trainWithGTReg[0]">
    <mat-option *ngFor="let elt of data.trainWithGTReg" [value]="elt">
      {{elt}}
    </mat-option>
  </mat-select>
</mat-form-field>
  <mat-form-field appearance="fill"  class="mat-form">
    <p>doReorientationFor2Sk</p>
    <mat-select [(value)]="data.doReorientationFor2Sk[0]">
      <mat-option *ngFor="let elt of data.doReorientationFor2Sk" [value]="elt">
        {{elt}}
      </mat-option>
    </mat-select>
  </mat-form-field>
    
    <mat-form-field appearance="fill"  class="mat-form">
      <p>maxPoolSpatial</p>
      <mat-select [(value)]="data.maxPoolSpatial[0]">
        <mat-option *ngFor="let elt of data.maxPoolSpatial" [value]="elt">
          {{elt}}
        </mat-option>
      </mat-select>
    </mat-form-field>


    <p><button mat-flat-button class='btn' (click)="saveCSV()" cdkFocusInitial>Générer les hyperparamètres</button></p>

  
</div>
  