<div mat-dialog-content #dialog>
<h2>Pour générer des combinaisons Start,End,Dot. Exemple : 1,10,1</h2>


<ng-container *ngFor="let eltName of this.data.hyperparametersNumber">
    <mat-form-field class="mat-form">
      <p>{{eltName.name}}</p>
    <input autocomplete="off" matInput [(ngModel)]="this.data.hyperparametersNumber[this.data.hyperparametersNumber.indexOf(eltName)].value">
  </mat-form-field>
  </ng-container>

   

</div>
<div>
  <ng-container *ngFor="let eltName of this.data.hyperparametersBool">
    <mat-form-field appearance="fill" class="mat-form">
      <p>{{eltName.name}}</p>
      <mat-select [(ngModel)]="this.data.hyperparametersBool[this.data.hyperparametersBool.indexOf(eltName)].value" multiple>
        <mat-option *ngFor="let elt of ['true','false']" [value]="elt">
          {{elt}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </ng-container>
  <mat-form-field class="mat-form" >
    <p>subFolderFit</p>
  <input matInput #subFolder autocomplete="off">
</mat-form-field>

<mat-form-field class="mat-form" >
  <p>pathWeight</p>
<input matInput #pathWeight autocomplete="off">
</mat-form-field>


<p> <mat-form-field class="example-full-width">
  <mat-label>Nom du fichier</mat-label>
  <textarea matInput  #fileName ></textarea>
</mat-form-field></p>
    <p><button mat-flat-button class='btn' (click)="saveCSV()" cdkFocusInitial>Générer les hyperparamètres</button></p>

  
</div>
  