.tab-container{
    display:block;
    position: absolute;
    left:15%;
    min-width:1000px;
    box-shadow: 1px 1px 2px 1px rgba(255,255,255,0.4);
    padding: 10px;
    background-color: #444444;
    color: white;
    overflow-x: auto;
  }
  table{
    width:100%;
    overflow-x: auto;
  }
  .align-right{
    display: inline-block;
    position: absolute;
    right:0px;
    text-align: right;
    margin-right:10px;
    margin-bottom:10px;
  }
  .tab-line-not-selected:hover{
    background-color: #4A4A4A;
  }
  .tab-line-selected{
     background-color: #555555;
   }
  .tab-line{
    height:50px;
  }
  .mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
  }
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  .dataTab {
    padding-right: 10px;
  }
  .dataTab {
    padding-right: 10px;
  }
