<table mat-table matSort [dataSource]="dataSource">

    <!-- Position Column -->
    <ng-container matColumnDef="Nom">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Identifiant </th>
      <td mat-cell *matCellDef="let sequence"> {{sequence.id}} </td>
    </ng-container>

    <ng-container matColumnDef="Date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
        <td mat-cell *matCellDef="let sequence"> {{sequence.pathVideoRGB}} </td>
      </ng-container>

    <ng-container matColumnDef="SéquencesTrain">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> SéquencesTrain </th>
        <td mat-cell *matCellDef="let sequence">
                <mat-radio-button name={{sequence.id}}  checked={{sequence.isTrain}}  (change)="update(sequence.id)"> </mat-radio-button>
        </td>
      </ng-container>


      <ng-container matColumnDef="SéquencesTest">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> SéquencesTest </th>
        <td mat-cell *matCellDef="let sequence">
                <mat-radio-button name={{sequence.id}}  checked={{sequence.isTest}} (change)="update(sequence.id)"> </mat-radio-button>
        </td>
      </ng-container>
  

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" [className]="this.selectionListe[row.position]?'tab-line tab-line-selected':'tab-line tab-line-not-selected'"  (click)="selection(row.position)"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons></mat-paginator> 