<!--       value="{{operandeInput.value + ' ' + operateurInput.value + ' ' + resultInput.value}}"-->
<input #nomFiltreInput class = "w100" type="text"
       placeholder="Nom du filtre"
       value="{{nameFilter}}"
       matInput>

  <app-single-filter *ngFor="let i of filters" [isFirstFilter]="i" (changeName)="majNameFilter()"></app-single-filter>
  <button (click)="addSingleFilter()" mat-button>+</button>

<button class="button-submit" (click)="close()" mat-button>Ajouter le filtre</button>
