.btn{
  color: #eeeeee;
  font-size: 20px;
}
.btn-not-on{
  background-color: #222222;
  transform: translateY(10%);
  transition: 100ms;
}

.btn-not-on:hover{
  transform: translateY(0%);
}

.btn-on{
  background-color: #555555;
  transform: translateY(10%);
  transition: 100ms;
}
.btn-on:hover{
  transform: translateY(0%);
}
.lien-container{
  display: inline;
  flex: auto;
}
.lien-container:hover{
  transition: 100ms;
 }
