.lien-container{
  position: absolute;
  margin-left: -200px;
  bottom: 0;
  left: 50%;
}
app-navigation-modules{
  display:flex;
  width:100%;
  flex-direction: row;
  position:fixed;
  z-index: 1;
  bottom:0;
}

.boutonSauvegarder{
  position: absolute;
  bottom: 15px;
  right: 25px;
  background-color: rebeccapurple;
}
