.example-additional-selection {
    opacity: 0.75;
    font-size: 0.75em;
  }
/*
  .tab-container{
    display:inline-block;
    position: relative;
    margin-top: 20px;
    left:15%;
    padding: 20px;
    min-width:100px;
    background-color: #444444;
    color: white;
  }
 */

.tab-container{
  position: absolute;
  right: 20px;
  top: 8px;
  width: 22%;
}
  .mat-app-background {
    background-color: #303030;
    color: #fff;
    position: relative;
}
.add-circle{
  margin-left: 10px;
  cursor: pointer;
}
.btn{
  background-color: #303030;
  border: 1px solid white;
}
::ng-deep .mat-focused .mat-form-field-label {
  /*change color of label*/
  color: white !important;
 }

 ::ng-deep.mat-form-field-underline {
  /*change color of underline*/
  background-color: white !important;
}

::ng-deep.mat-form-field-ripple {
 /*change color of underline when focused*/
 background-color: white !important;;
}
.container {
  margin-top: 20px;
  justify-content: space-between;
  align-content: space-between;
}
.flex {
  display: flex;
  flex-wrap: wrap;
}
::ng-deep .mat-primary .mat-option.mat-selected:not(.mat-option-disabled){
  color: white;
}
::ng-deep .mat-form-field.mat-focused.mat-primary .mat-select-arrow  {
  color: white;
}

.divBouton {
  margin-top: 10px;
}

.consignesAcquisition {
  color: white !important;
  font-size: 15px;
}

.boutonSauvegarder{
  background-color: rebeccapurple;
}


