<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side" position="end">
    <div *ngFor="let sequence of this.selectedSeq; index as i"[className]="'sequenceSel'">
      <span>{{sequence}}</span><span class="deleteSeq" (click)="deleteSeq(i)">x</span>
    </div>
  </mat-drawer>

  <div class="example-sidenav-content">
    <button type="button" mat-button (click)="drawer.toggle()">
      Séquences sélectionnées
    </button>

  </div>
<div class="tab-container">
<app-tableau-expl></app-tableau-expl>
</div>
  <app-navigation-modules></app-navigation-modules>
</mat-drawer-container>
