.button-submit{
  display: table-cell;
  vertical-align: middle;
  width:100%;
}
.dataContainer {
  height: 60vh;
  overflow: auto;
  min-width: 30vw;
}
app-node-colonne {
}
.container-choix-colonne {
  display: table-cell;
  vertical-align: bottom;
}

#chercherDonnee {
  width: 100%;
}

.donneesTab {
  max-height: 500px;
  overflow: auto;
  margin-bottom: 20px;
}
