<div class="container-choix-colonne">
  <mat-form-field id="chercherDonnee" appearance="fill">
    <mat-label >Rechercher un type de donnée</mat-label>
    <input #searchInput (keyup)="afficherDonneees($event)" matInput>
  </mat-form-field>
  <div class="donneesTab">
    <ng-container *ngFor="let line of donneesTabulees; let index = index">
      <div [style.display]="afficheDonnee[index]?'block':'none'">
        <mat-checkbox class="example-margin" [checked]="line.completed" (change)="setNode(line)">{{line.path + '.' + line.name}}</mat-checkbox>
      </div>
    </ng-container>
  </div>
  <div class="dataContainer">
    <app-node-colonne [node]="this.choixColService.node"></app-node-colonne>
  </div>
  <button mat-button class="button-submit" (click)="sendColonnesChoisies()">Afficher les colonnes sélectionnées</button>
</div>
