<canvas #rendererCanvas id="renderCanvas"></canvas>
<span #box data-diagram="box"></span>
<span><app-editeur class='edit' style="float: left;"></app-editeur></span>
<span><app-sequences-annotation class='edit2' style="float: right;"></app-sequences-annotation></span>
<mat-button-toggle-group class="buttonsModeAnnotation">
  <mat-button-toggle #buttonModeEditing value="bold">Editing</mat-button-toggle>
  <mat-button-toggle #buttonModeAnnotation value="italic">Annotation</mat-button-toggle>
</mat-button-toggle-group>
<div class="barButtonsEngine">
  <button mat-raised-button (click)="engServ.resetCamera()" class="resetCameraButton">Reset camera</button>
  <button mat-raised-button (click)="engServ.stopToStart()"><<</button>
  <button mat-raised-button (click)="engServ.playBackward()"><</button>
  <button mat-raised-button (click)="engServ.play()">Play</button>
  <button mat-raised-button (click)="engServ.playForward()">></button>
  <button mat-raised-button (click)="engServ.stopToEnd()">>></button>
  <mat-form-field class="inputActionTime">
    <input matInput (keyup.enter)="updateActionTime($event)">
  </mat-form-field>
  <mat-form-field class="inputActionTime">
    <input matInput (keyup.enter)="updateActionFrame($event)">
  </mat-form-field>
</div>
