<mat-drawer-container style="height: 200%">
  <mat-drawer #drawerSeq class="onglet-sequences-selectionnees" mode="side" position="end">


    <app-sequences-chargees></app-sequences-chargees>

    <!--
    <div *ngFor="let sequence of this.selectedSeq; index as i">
      <ng-container *ngIf="sequence.includes(inputFiltre.value); else elseBlock">
        <div [className]="'sequenceSel'">
          <mat-list-item><div><span>{{sequence}}</span>   <span class="deleteSeq" (click)="deleteSeq(i)">x</span></div></mat-list-item>
        </div>
      </ng-container>
      <ng-template #elseBlock style="display: none"></ng-template>
    </div>
    -->
  </mat-drawer>

  <div class="bouton-sidenav">
    <button type="button" mat-button (click)="drawerSeq.toggle()">
      <mat-icon id="icone_bouton_sequences_selectionnees">arrow_back_ios</mat-icon>
    </button>
  </div>
  <div class="boutons-aligne">
    <button (click)="choisirColonne()" mat-button><mat-icon>subject</mat-icon> Colonnes</button>
    <span class="boutons-centre">
      <mat-button-toggle-group [(ngModel)]="modeSelection" (click)="updateAll()">
        <mat-button-toggle value="annotation">Annotation</mat-button-toggle>
        <mat-button-toggle value="evaluation">Évaluation</mat-button-toggle>
      </mat-button-toggle-group>
      <button (click)="ajouterSequencesSelectionnees()" mat-button>Importer les séquences sélectionnées</button>
    </span>
  </div>


<div class="tab-container">
  <div>
    <div class="align-right"><button mat-raised-button id="ajouter-un-filtre" (click)="openDialogFilter()">Ajouter un filtre</button></div>
    <mat-chip-list #listeFiltres aria-label="Filtres">
      <span>Filtres : </span>
      <mat-chip
        *ngFor="let filtre of explService.filtres; let i=index;"
        [removable]="true"
        (removed)="remove(i)">
        {{explService.nomFiltres[i]}}
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>
    </mat-chip-list>

  </div>
  <table mat-table [dataSource]="dataSource" matSort>

    <!--Position Column-->
      <ng-container *ngFor="let colName of this.explService.displayedColumns" matColumnDef="{{colName}}">
        <th class="dataTab" mat-header-cell *matHeaderCellDef mat-sort-header matTooltip="{{colName}}"> {{colName.split('.')[colName.split('.').length-1]}} </th>
        <td class="dataTab" mat-cell *matCellDef="let element" matTooltip="{{element[colName]}}"> {{reduceName(element[colName])}} </td>
      </ng-container>

    <ng-container matColumnDef="visualisation">
      <th class="w-50" mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element"><button mat-icon-button (click)="this.visuService.show(element)"><mat-icon>play_circle_outline</mat-icon></button></td>
    </ng-container>

    <ng-container matColumnDef="checkbox1">
      <th class="w-50" mat-header-cell *matHeaderCellDef><mat-checkbox class="allCheckbox" [checked]="allComplete1" [indeterminate]="someComplete(allComplete1, 'select1')" (change)="setAll($event.checked, 'select1')"></mat-checkbox> </th>
      <td mat-cell *matCellDef="let element"><mat-checkbox class="tab-selected" [(ngModel)]="element.selected1" (change)="setSelectedSequence(element, 'select1')"></mat-checkbox></td>
    </ng-container>

    <ng-container matColumnDef="checkbox2">
      <th class="w-50" mat-header-cell *matHeaderCellDef><mat-checkbox class="allCheckbox" [checked]="allComplete2" [indeterminate]="someComplete(allComplete2, 'select2')" (change)="setAll($event.checked,'select2')"></mat-checkbox> </th>
      <td mat-cell *matCellDef="let element"><mat-checkbox class="tab-selected" [(ngModel)]="element.selected2" (change)="setSelectedSequence(element,'select2')"></mat-checkbox></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="allColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: allColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons></mat-paginator>
</div>
</mat-drawer-container>

