<mat-drawer-container style="height: 200%">
  <mat-drawer #drawerSeq class="onglet-sequences-selectionnees" mode="side" position="end">


    <app-sequences-chargees></app-sequences-chargees>

    <!--
    <div *ngFor="let sequence of this.selectedSeq; index as i">
      <ng-container *ngIf="sequence.includes(inputFiltre.value); else elseBlock">
        <div [className]="'sequenceSel'">
          <mat-list-item><div><span>{{sequence}}</span>   <span class="deleteSeq" (click)="deleteSeq(i)">x</span></div></mat-list-item>
        </div>
      </ng-container>
      <ng-template #elseBlock style="display: none"></ng-template>
    </div>
    -->
  </mat-drawer>

  <div class="bouton-sidenav">
    <button type="button" mat-button (click)="drawerSeq.toggle() ; tournerBouton()">
      <mat-icon id="icone_bouton_sequences_selectionnees">arrow_back_ios</mat-icon>
    </button>
  </div>


<div class="tab-container">
  <div>
    <span>Filtres : </span>
    <div class="align-right"><button mat-raised-button id="ajouter-un-filtre">Ajouter un filtre</button></div>
  </div>
  <table mat-table matSort [dataSource]="dataSource">

    <!--Position Column-->
      <ng-container *ngFor="let colName of displayedColumns" matColumnDef="{{colName}}">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{colName}} </th>
        <td mat-cell *matCellDef="let element"> {{element[colName]}} </td>
      </ng-container>

    <ng-container matColumnDef="addColumn">
      <th class="w-50" mat-header-cell *matHeaderCellDef mat-sort-header><button (click)="choisirColonne()" mat-icon-button><mat-icon>add_circle_outline</mat-icon></button></th>
      <td mat-cell *matCellDef="let element"></td>
    </ng-container>

    <ng-container matColumnDef="visualisation">
      <th class="w-50" mat-header-cell *matHeaderCellDef mat-sort-header></th>
      <td mat-cell *matCellDef="let element"><button mat-icon-button (click)="this.visuService.show()"><mat-icon>play_circle_outline</mat-icon></button></td>
    </ng-container>

    <ng-container matColumnDef="download">
      <th class="w-50" mat-header-cell *matHeaderCellDef mat-sort-header></th>
      <td mat-cell *matCellDef="let element"><button mat-icon-button><mat-icon> vertical_align_bottom</mat-icon></button></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="allColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: allColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons></mat-paginator>
</div>
</mat-drawer-container>

