<ng-container matColumnDef="name">
    <th class="header" mat-header-cell *matHeaderCellDef>
      Nom de la séquence
      <mat-form-field class="filter" floatLabel="never">
        <mat-label>Search</mat-label>
        <input matInput [formControl]="nameFilter">
      </mat-form-field>
    </th>
    <td mat-cell *matCellDef="let sequence">{{sequence.id}}</td>
  </ng-container>
  <ng-container matColumnDef="id">
    <th class="header" mat-header-cell *matHeaderCellDef>
      ID
      <mat-form-field class="filter" floatLabel="never">
        <mat-label>Search</mat-label>
        <input matInput [formControl]="nameFilter">
      </mat-form-field>
    </th>
    <td mat-cell *matCellDef="let sequence">{{sequence.pathVideoRGB}}</td>
  </ng-container>
  <table mat-table matSort [dataSource]="dataSource">
  
      <!-- Position Column -->
      <ng-container matColumnDef="Métadonnée">
        <th mat-header-cell class='align' *matHeaderCellDef mat-sort-header> Métadonnée </th>
        <td style="height: 10px" mat-cell *matCellDef="let sequence"> {{sequence}} </td>
      </ng-container>
  
      <ng-container matColumnDef="Opérateur">
          <th mat-header-cell  class='align' *matHeaderCellDef mat-sort-header> Opérateur </th>
          <td mat-cell *matCellDef="let sequence"> 
            <mat-form-field class='list' appearance="fill">
              <mat-select>
                <mat-option *ngFor="let value of operateur" [value]='value'>
                  {{value}}
                </mat-option>
              </mat-select>
            </mat-form-field> </td>
        </ng-container>
  
      <ng-container matColumnDef="Valeur">
          <th mat-header-cell  class='align' *matHeaderCellDef mat-sort-header> Valeur </th>
          <td mat-cell *matCellDef="let sequence"> 
            <input matInput class='cell' [(ngModel)]="valeur[this.metadata.indexOf(sequence)]"> </td>
        </ng-container>
  
  
    
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" [className]="this.selectionListe[row.position]?'tab-line tab-line-selected':'tab-line tab-line-not-selected'"  (click)="selection(row.position)"></tr>
    </table>
  
